<ion-header>
  <ion-navbar>
    <ion-title>Tell The Landlord</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="confirmedLandlordName != ''">
    Confirmed name: {{confirmedLandlordName}}
    <page-profile>Page Here</page-profile>
  </div>

  <div *ngIf="confirmedLandlordName === ''">
    <h2>Start here</h2>
    <p>
      First tell us the name of your housing association or landlord
    </p>

    <ion-list>
      <form novalidate (ngSubmit)="submitLandlord()" [formGroup]="landlordForm">

        <ion-item>
          <ion-label floating>Landlord's name<span class="required">*</span></ion-label>
          <ion-input type="text" [(ngModel)]="landlordData.landlordsName" formControlName="landlordsName" [class.error1]="!landlordForm.controls.landlordsName.valid && landlordForm.controls.landlordsName.dirty"></ion-input>
        </ion-item>

        <button type="submit" ion-button block color="primary" [disabled]="landlordForm.invalid">Next step</button>

      </form>
    </ion-list>
  </div>

</ion-content>


